header{
    width: 100%;
    height: 100px;
    background-color: #121212;
    color: #FFF;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px;
    position: relative;
}

.titulo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header a{
    color: #FFF;
    font-size: 20px;

}

header a + a{
    margin-left: 10px;

}

